In [1]:
import matplotlib.pyplot as pt
import pandas as pd
import numpy as np

In [35]:
def percentage(factorized_dat):
    mask = ((factorized_dat == factorized_dat) | factorized_dat.isnull()) & (factorized_dat.dtypes == 'O')
    masked_data = factorized_dat[mask].dropna(axis=1)
    factor = masked_data.apply(lambda x: pd.factorize(x)[0])

    column_list = factor.columns[1:len(factorized_dat.columns)]
    factorized_dat[column_list]=factor[column_list]

    val = pd.DataFrame(index = range(0,4),columns =column_list )
    for col in column_list:
        tmp = factorized_dat[col]
        stat=np.zeros(max(tmp)+1)
        for i in range(min(tmp),max(tmp)+1):
            stat[i] = len(tmp[tmp==i])/len(tmp)*100
        val[col] = pd.Series(stat)

    val = val.fillna(0).round(2)
    return val;

In [39]:
# General Percentages
dataframe = pd.read_csv("Telco-Customer-Churn.csv")
#dataframe.info()

general = dataframe.copy().drop(['TotalCharges'],axis=1)
#Churning Customers Index
churning = dataframe[dataframe['Churn']=='Yes'].index
churning_percentage = dataframe.iloc[churning,:].drop(['TotalCharges','Churn'],axis=1)

#Loyal Customers Index
loyal = dataframe[dataframe['Churn']=='No'].index
loyal_percentage = dataframe.iloc[loyal,:].drop(['TotalCharges','Churn'],axis=1)

In [40]:
display(percentage(general))
display(percentage(churning_percentage))
display(percentage(loyal_percentage))

,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Churn
0,49.52,48.3,70.04,9.68,9.68,34.37,49.67,34.49,43.94,49.31,39.90,39.54,55.02,59.22,33.58,73.46
1,50.48,51.7,29.96,90.32,48.13,43.96,28.67,43.84,34.39,29.02,38.44,38.79,20.91,40.78,22.89,26.54
2,0.00,0.0,0.00,0.00,42.18,21.67,21.67,21.67,21.67,21.67,21.67,21.67,24.07,0.00,21.92,0.00
3,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,21.61,0.00

,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod
0,49.76,64.21,82.56,90.9,45.43,24.56,15.78,27.98,64.79,77.37,50.40,50.19,88.55,74.91,16.48
1,50.24,35.79,17.44,9.1,45.48,69.40,78.17,65.97,29.16,16.59,43.55,43.77,2.57,25.09,57.30
2,0.00,0.00,0.00,0.0,9.10,6.05,6.05,6.05,6.05,6.05,6.05,6.05,8.88,0.00,13.80
3,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,12.41

,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod
0,49.27,52.82,65.52,9.9,9.90,37.92,39.37,36.84,36.41,39.18,36.10,35.70,42.91,53.56,25.01
1,50.73,47.18,34.48,90.1,49.11,34.77,33.32,35.85,36.28,33.51,36.59,27.31,25.26,46.44,25.20
2,0.00,0.00,0.00,0.0,40.99,27.31,27.31,27.31,27.31,27.31,27.31,36.99,31.83,0.00,24.86
3,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,24.93